.main-div {
    background: #A8DADC;
    margin-top: 0;
}

button {
    margin-top: 20px;
    box-shadow: rgb(69, 123, 157);
    /* background: #F1FAEE; */
    background: #1D3557;
    font-size: 13px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: white;   
    padding: 10px;
    width: 200px;
}